body { font-family: Verdana; font-size: 9pt; }

fieldset { width: 1070px; border-radius: 15px; padding-top: 10px; padding-bottom: 0px; }
legend { padding: 0px 10px; }

span.color { padding-right: 5px;}

input.cb { display: none; }

label img { height: 64px; width: 64px; vertical-align: -20px; margin-right: -15px; }
label.cb_off img { background: url("sprite_64.png") 128px 0px; }
label.cb_on img { background: url("sprite_64.png") 0px 0px; }
label.cb_hover img { background: url("sprite_64.png") 64px 0px; }

.button_out { background: url("button.png") no-repeat 0px 0px; }
.button_over { background: url("button_light.png") no-repeat 0px 0px; }
input[type='button']
{
  width: 135px;
  height: 32px;
  border: 1px;
  color: #fff;
  font-family: verdana;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
  padding-right: 10px;
  padding-bottom: 8px;
  background-size: 100%;
}